html {
  background-color: 41613D;
}

h2 {
  font-family: Verdana;
  font-size: 2em;
  text-align: center;
  text-decoration: blink;
}

form {
  font-family: Verdana;
  padding: 2px;
  text-align: center;
}

#stitches {
 height: 150px;
 margin-top: 20px;
}

label, textarea, select,  {
    width: 200px;
    text-align: center;
}

input {
  display: inline-block;
  width: 200px;
  text-align: center;
}

}